$color-primary: #20a0ff;//#18c79c

.block {
  display: block;
}
.none {
  display: none;
}
.tr {
  text-align: right;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}